body {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-hexagono-tecnologia-azul_1017-19366.jpg);
    background-size: cover; 
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    transition: transform 0.3s ease;
    display: grid;
    place-items: center;
    margin: 1em;
    margin-left: 25em;
    margin-right: 25em; 

}

.image:hover {
    transform: scale(0.9);
  }

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1{ color: #F5986C;
}

h2{ color: #7FF5EB}
